.need {
    display: flex;
    align-items: center;      /* Vertically centers everything */
    justify-content: space-between; /* Pushes Logo to left, Icon to right */
    padding: 10px 40px;
    width: 100%;
    box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: linear-gradient(180deg, #f4d5df 0%, #f9fbfc 50%, #b3e5fc 100%);
  background-attachment: fixed;

};
